# Production API URL
# NEXT_PUBLIC_API_URL=https://salman-backend.onrender.com/api

# Local Development API URL
NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_SITE_URL=https://salmanhairstudio.com
